@import '/src/styles/variables.scss';

.text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
        display: flex;
        gap: 16px;
        line-height: 24px;

        .category {
            font-weight: 500;
            font-size: 18px;
        }

    }

    .description {
        color: $grey;
        line-height: 20px;
    }
}